@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centerHorVer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//MEDIA QUERY MANAGER
/*
0-600px = phone
600-900px = tablet portait
900-1200px = tablet landscape
1200-1800px = normal desktop
1800px+ = big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid >  page layout > components

1rem = 10px = 62.5% font size
1em = 16px
*/

@mixin respond($breakpoint) {
    @if ($breakpoint == smallphone){
        @media only screen and (max-width: 35em) {@content}; //560px
    }
    @if ($breakpoint == phone){
        @media only screen and (max-width: 44em) {@content}; //600px?
    }
    @if ($breakpoint == tab-port){
        @media only screen and (max-width: 65em) {@content}; //900px?
    }
    @if ($breakpoint == tab-land){
        @media only screen and (max-width: 90em) {@content}; //1200px?
    }
    @if ($breakpoint == big-desktop){
        @media only screen and (min-width: 112.5em) {@content}; //1800px
    }
}