// COLORS
$color-blue-1: #042635;
$color-blue-2: #053042;
$color-blue-3: #003952;
$color-blue-4: #225b74;
$color-blue-dark-1: #06151b;
$color-blue-dark-2: #040e13;
$color-blue-dark-3: #081c24;
$color-blue-bright-1: #2ba7fa;
$color-blue-bright-2: #1985d8;
$color-aqua: #1a9ba4;