// COLORS
$color-black: #111;
$color-white: #f3f3f3;
// $color-blue-1: #042635;
// $color-blue-1: #042635;
// $color-blue-1: #042635;

$color-blue-1: #042635;
$color-blue-2: #053042;
$color-blue-3: #003952;
$color-blue-4: #225b74;
$color-blue-dark-1: #06151b;
$color-blue-dark-2: #040e13;
$color-blue-dark-3: #081c24;

$color-blue-gray-1: #15242b;

$color-blue-bright-1: #2ba7fa;
$color-blue-bright-2: #1985d8;
$color-aqua: #1a9ba4;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
