* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

html {
    font-size: 62.5%;

    // @include respond(big-desktop){ //width > 1800px
    //     font-size: 75%;
    // }
    @include respond(tab-land){ //width < 1200px
        font-size: 56.25%;
    }
    @include respond(tab-port){ //width < 900px
        font-size: 50%;
    }
    @include respond(phone){ //width < 900px
        font-size: 40%;
    }
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 7px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #2ba7fa;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ddd;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ddd;
}

::selection {
    background-color: #fff;
    color: #111;
}




// /* Element | http://localhost:3000/tools */

// .signup-lotcalc {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//   }
  
//   /* Inline #3 | http://localhost:3000/tools */
  
//   .signup-form {
//     /* align-items: initial; */
//     /* width: 700px; */
//     /* margin: 0 25rem 0 0; */
//     align-items: center;
//     width: 900px;
//   }
  
//   .signup-form-group {
//     /* width: 700px; */
//     width: 800px;
//   }
  
//   .signup-form-btn {
//     /* margin: 5rem -1rem 0 7.5rem; */
//     margin: 5rem -1rem 0 15.5rem;
//     width: 50%;
//   }
  
//   /* Element | http://localhost:3000/tools */
  
//   div.signup-form-group:nth-child(2) > label:nth-child(1) {
//     margin-left: -6rem;
//   }
  