/*
0-600px = phone
600-900px = tablet portait
900-1200px = tablet landscape
1200-1800px = normal desktop
1800px+ = big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid >  page layout > components

1rem = 10px = 62.5% font size
1em = 16px
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 90em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 65em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 44em) {
    html {
      font-size: 40%; } }

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

a,
a:link,
a:visited {
  text-decoration: none; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2ba7fa; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ddd; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ddd; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ddd; }

::selection {
  background-color: #fff;
  color: #111; }

.container {
  background-color: #3223ff30; }

.footer {
  background-color: #06151b;
  padding: 6rem 0rem 6rem 10rem;
  font-size: 1.4rem;
  color: #ccc; }
  @media only screen and (max-width: 65em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 65em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #06151b;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 65em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link, .footer__link:link, .footer__link:visited {
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s ease-in-out; }
  .footer__link:hover, .footer__link:active {
    color: #fff;
    text-shadow: 0rem 0.5rem 0.4rem #111;
    transform: translateY(-0.1rem); }
  .footer__copyright {
    border-top: 1px solid #06151b;
    padding-top: 2rem;
    width: 85%;
    float: right; }
    @media only screen and (max-width: 65em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10%;
  align-items: center;
  width: 100%;
  background-color: #06151b;
  color: #ddd;
  font-size: 3rem;
  font-weight: 700; }
  @media only screen and (max-width: 65em) {
    .navigation {
      padding: 1rem 3%; } }
  .navigation--brand, .navigation--brand:link, .navigation--brand:visited {
    width: 5rem;
    letter-spacing: 1rem;
    font-weight: 300;
    padding: 3rem 0;
    text-transform: uppercase;
    color: #ddd;
    text-decoration: none; }
    @media only screen and (max-width: 65em) {
      .navigation--brand, .navigation--brand:link, .navigation--brand:visited {
        padding: 3rem 5rem; } }
    @media only screen and (max-width: 44em) {
      .navigation--brand, .navigation--brand:link, .navigation--brand:visited {
        padding: 3rem 2rem; } }
  .navigation--brand:hover {
    cursor: pointer; }
  .navigation--right {
    display: flex;
    align-items: center;
    padding-right: 3rem; }
    .navigation--right > * {
      list-style: none;
      font-size: 2rem; }
    @media only screen and (max-width: 65em) {
      .navigation--right {
        padding-right: 1rem; } }
    .navigation--right__links-phone {
      display: none;
      margin-bottom: 3rem; }
      @media only screen and (max-width: 44em) {
        .navigation--right__links-phone {
          display: inline; } }
    .navigation--right__links-desktop {
      display: flex; }
      @media only screen and (max-width: 44em) {
        .navigation--right__links-desktop {
          display: none; } }
  .navigation--link, .navigation--link:link, .navigation--link:visited {
    text-decoration: none;
    padding: 1rem 2rem;
    color: #ddd;
    transition: all .2s ease-in-out; }
  .navigation--link:hover {
    color: #2ba7fa; }
  .navigation--signup, .navigation--signup:link, .navigation--signup:visited {
    margin-left: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #000;
    background-color: #2ba7fa;
    border-radius: 3px;
    transition: all .2s ease-in-out; }
  .navigation--signup:hover {
    background-color: #1985d8; }
  .navigation--logout, .navigation--logout:link, .navigation--logout:visited {
    margin-top: 20rem;
    margin-left: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #000;
    background-color: #2ba7fa;
    border-radius: 3px;
    transition: all .2s ease-in-out; }
  .navigation--logout:hover {
    background-color: #1985d8; }

.menu-link, .menu-link:link, .menu-link:visited {
  text-decoration: none;
  color: #ddd;
  font-size: 5rem; }

.menu__checkbox {
  display: none; }

.menu__button {
  background-color: #ddd;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 7rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(17, 17, 17, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 65em) {
    .menu__button {
      top: 4rem;
      right: 4rem; } }

.menu__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 7.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#06151b, #040e13);
  z-index: 1000;
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 65em) {
    .menu__background {
      top: 4.5rem;
      right: 4.5rem; } }

.menu__nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 1rem;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1); }

.menu__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.menu__item {
  padding: 2rem; }

.menu__link:link, .menu__link:visited {
  display: inline-block;
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: 300;
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ddd 50%);
  background-size: 225%;
  transition: all .4s; }
  @media only screen and (max-width: 44em) {
    .menu__link:link, .menu__link:visited {
      background-image: linear-gradient(120deg, transparent 0%, transparent 60%, #ddd 60%); } }

.menu__link:hover, .menu__link:active {
  background-position: 100%;
  color: #2ba7fa;
  transform: translateX(1rem); }
  @media only screen and (max-width: 44em) {
    .menu__link:hover, .menu__link:active {
      background-size: 300%; } }

.menu__checkbox:checked ~ .menu__background {
  transform: scale(80); }

.menu__checkbox:checked ~ .menu__nav {
  opacity: 1;
  width: 100%; }

.menu__icon {
  position: relative;
  margin-top: 3.5rem; }
  .menu__icon, .menu__icon::before, .menu__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #15242b;
    display: inline-block; }
  .menu__icon::before, .menu__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .menu__icon::before {
    top: -.8rem; }
  .menu__icon::after {
    top: .8rem; }

.menu__button:hover .menu__icon::before {
  top: -1rem; }

.menu__button:hover .menu__icon::after {
  top: 1rem; }

.menu__checkbox:checked + .menu__button .menu__icon {
  background-color: transparent; }

.menu__checkbox:checked + .menu__button .menu__icon:before {
  transform: rotate(135deg);
  top: 0; }

.menu__checkbox:checked + .menu__button .menu__icon:after {
  transform: rotate(-135deg);
  top: 0; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 65em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 65em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 65em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 65em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.landing-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rem;
  padding: 5rem 25rem 30rem;
  height: 100%;
  background-color: #06151b;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .landing-main--title {
    color: #ddd;
    width: 75rem;
    font-size: 5rem;
    padding-top: 10rem; }
  .landing-main--description {
    color: #ddd;
    width: 55rem;
    font-size: 2rem;
    padding-top: 5rem;
    margin-bottom: 7rem;
    line-height: 1.75; }
  .landing-main--button, .landing-main--button:link, .landing-main--button:visited {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    background-color: #2ba7fa;
    border-radius: 3px;
    padding: 1.5rem 3rem;
    transition: all .2s ease-in-out; }
  .landing-main--button:hover {
    background-color: #1985d8; }
  .landing-main--image {
    background-image: url("./images/trading-landing.jpeg");
    background-size: cover;
    background-color: #06151b;
    height: 388px;
    width: 612px;
    margin: 10rem 3rem 0 0;
    background-blend-mode: luminosity;
    box-shadow: 0 0 4px 4px #081c24 inset; }

.landing-section-1 {
  background-color: #fff;
  margin: -35rem auto 10rem;
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .landing-section-1--title {
    font-size: 4rem; }
  .landing-section-1--cards {
    display: flex;
    justify-content: center; }
    .landing-section-1--cards__1--image {
      background-image: url("./images/column-chart-icon.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 140px;
      width: 135px; }
    .landing-section-1--cards__2--image {
      background-image: url("./images/competition-icon.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 140px;
      width: 135px; }
    .landing-section-1--cards__3--image {
      background-image: url("./images/message-icon.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 140px;
      width: 135px; }
    .landing-section-1--cards__1, .landing-section-1--cards__2, .landing-section-1--cards__3 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      border-radius: 3px;
      border: 1px solid rgba(152, 170, 178, 0.25);
      background-color: rgba(152, 170, 178, 0.15);
      padding: 4rem;
      margin: 10rem;
      height: 500px;
      width: 350px; }
      .landing-section-1--cards__1--title, .landing-section-1--cards__2--title, .landing-section-1--cards__3--title {
        font-size: 2.5rem; }
      .landing-section-1--cards__1--text, .landing-section-1--cards__2--text, .landing-section-1--cards__3--text {
        font-size: 1.6rem; }
      .landing-section-1--cards__1--button, .landing-section-1--cards__1--button:link, .landing-section-1--cards__1--button:visited, .landing-section-1--cards__2--button, .landing-section-1--cards__2--button:link, .landing-section-1--cards__2--button:visited, .landing-section-1--cards__3--button, .landing-section-1--cards__3--button:link, .landing-section-1--cards__3--button:visited {
        font-size: 1.8rem;
        text-decoration: none;
        color: #1a9ba4;
        border: 1px solid #1a9ba4;
        border-radius: 3px;
        padding: 1.5rem 3rem;
        transition: all .2s ease-in-out; }
      .landing-section-1--cards__1--button:hover, .landing-section-1--cards__2--button:hover, .landing-section-1--cards__3--button:hover {
        background-color: #1a9ba4;
        color: #fff; }

.signuppage {
  overflow-y: hidden;
  height: 100vh; }

.signup {
  height: 100%;
  background-color: #06151b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25rem; }
  .signup-result-lot {
    margin: 5rem 33rem; }
  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;
    color: #eee;
    font-size: 3rem;
    width: 700px;
    margin: 0 25rem 0 0; }
    .signup-form-group {
      width: 700px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 1rem; }
      .signup-form-group label {
        float: right;
        text-align: right;
        margin-right: 15px;
        width: 400px; }
    .signup-form-input {
      font-size: 3rem;
      background-color: #042635;
      color: #ddd;
      padding: 1rem 1.5rem;
      border: none;
      border-radius: 2px;
      transition: all .2s ease-in-out; }
      .signup-form-input:hover {
        background-color: #053042; }
      .signup-form-input:active, .signup-form-input:focus {
        outline: none;
        background-color: #225b74; }
    .signup-form-btn {
      background-color: #003952;
      border: none;
      border-radius: 3px;
      font-size: 3rem;
      float: left;
      color: #fff;
      padding: 1rem 1.5rem;
      margin: 5rem -1rem 0 7.5rem; }

.separator {
  width: 5px;
  height: 50vh;
  margin: 3rem 10rem 0 0;
  border-right: 2px solid #222; }

.profile {
  min-height: 80vh;
  max-height: 100%;
  background-color: #081c24;
  border-top: 2px solid #040e13;
  color: #ddd;
  padding: 5rem 10%; }
  .profile-nav {
    display: flex;
    justify-content: space-between; }
    .profile-nav-link, .profile-nav-link:link, .profile-nav-link:visited {
      text-decoration: none;
      color: #ddd; }
    .profile-nav__user {
      display: flex;
      align-items: center; }
      .profile-nav__user-avatar {
        border-radius: 50%;
        border: none;
        height: 100px;
        width: 100px;
        background-color: #ccc;
        overflow: hidden; }
        .profile-nav__user-avatar:hover > .profile-nav__user-avatar__change {
          transform: translateY(-6rem);
          z-index: 3; }
        .profile-nav__user-avatar__image {
          object-fit: cover;
          height: 100%;
          width: 100%;
          z-index: -20; }
          .profile-nav__user-avatar__image-default {
            background-image: url("./images/userdefault.png");
            background-size: cover;
            height: 100%;
            width: 100%;
            z-index: -20; }
        .profile-nav__user-avatar__change {
          background-color: rgba(34, 34, 34, 0.8);
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
          padding: 2rem auto;
          transform: translateY(10rem);
          transition: all .2s ease-in-out;
          z-index: 100; }
          .profile-nav__user-avatar__change-form {
            padding: 1rem 2.5rem 3rem; }
            .profile-nav__user-avatar__change-form--input {
              display: none; }
              .profile-nav__user-avatar__change-form--input:hover {
                cursor: pointer; }
            .profile-nav__user-avatar__change-form--label:hover {
              cursor: pointer; }
      .profile-nav__user-username {
        padding: 0 4rem;
        font-size: 3rem; }
    .profile-nav__links {
      display: flex;
      justify-content: space-evenly;
      padding-right: 3rem; }
      .profile-nav__links-text {
        padding: 1rem 1.5rem;
        margin: auto 2rem;
        color: #ddd;
        border-radius: 2px;
        font-size: 2rem;
        text-transform: uppercase;
        list-style: none;
        transition: all .2s ease-in-out; }
        @media only screen and (max-width: 65em) {
          .profile-nav__links-text {
            margin: auto 0rem; } }
        .profile-nav__links-text:hover {
          background-color: rgba(6, 21, 27, 0.7);
          color: #ddd;
          cursor: pointer; }
        .profile-nav__links-text-profile {
          padding: 1rem 1.5rem;
          margin: 1rem 2rem;
          background-color: rgba(6, 21, 27, 0.7);
          color: #ddd;
          border-radius: 2px;
          font-size: 2rem;
          text-transform: uppercase;
          list-style: none;
          transition: all .2s ease-in-out; }
          .profile-nav__links-text-profile:hover {
            background-color: #040e13;
            color: #ddd;
            cursor: pointer; }
      .profile-nav__links-text-active {
        padding: 1rem 1.5rem;
        margin: auto 2rem;
        border-bottom: 2px solid #2ba7fa;
        color: #ddd;
        border-radius: 2px;
        font-size: 2rem;
        text-transform: uppercase;
        list-style: none;
        transition: all .2s ease-in-out; }
        .profile-nav__links-text-active:hover {
          background-color: rgba(6, 21, 27, 0.7);
          color: #ddd;
          cursor: pointer; }
  .profile-content {
    margin: 6rem auto; }

.connections {
  display: flex;
  justify-content: center; }
  .connections-card {
    margin-left: 10rem; }
  .connections-container {
    font-size: 2rem;
    height: 500px;
    width: 250px;
    padding: 2rem 1.5rem;
    overflow-y: scroll;
    background-color: #06151b; }
    .connections-container > * {
      padding: .75rem 1.5rem 1rem;
      background-color: #06151b;
      transition: all .2s ease-in-out; }
      .connections-container > *:hover {
        cursor: pointer;
        background-color: #040e13; }
      .connections-container > *:not(:last-child) {
        border-bottom: 1px solid black; }

.home {
  min-height: 80vh;
  max-height: 100%;
  background-color: #081c24;
  border-top: 2px solid #040e13;
  color: #ddd;
  padding: 5rem 5%; }
  @media only screen and (max-width: 65em) {
    .home {
      padding: 5rem 0; } }
  .home-card, .home-card:link, .home-card:visited {
    text-decoration: none;
    color: #ddd; }
  .home-nav {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 7rem; }
    .home-nav__links {
      display: flex;
      justify-content: space-evenly; }
      .home-nav__links-text {
        padding: 1rem 1.5rem;
        margin: auto 8rem;
        text-align: center;
        color: #ddd;
        border-radius: 2px;
        font-size: 2rem;
        text-transform: uppercase;
        list-style: none;
        transition: all .2s ease-in-out; }
        @media only screen and (max-width: 90em) {
          .home-nav__links-text {
            margin: auto 5rem; } }
        @media only screen and (max-width: 65em) {
          .home-nav__links-text {
            margin: auto 1rem; } }
        .home-nav__links-text:hover {
          background-color: rgba(6, 21, 27, 0.7);
          color: #ddd;
          cursor: pointer; }
      .home-nav__links-text-active {
        padding: 1rem 1.5rem;
        margin: auto 8rem;
        border-bottom: 2px solid #2ba7fa;
        text-align: center;
        color: #ddd;
        border-radius: 2px;
        font-size: 2rem;
        text-transform: uppercase;
        list-style: none;
        transition: all .2s ease-in-out; }
        @media only screen and (max-width: 90em) {
          .home-nav__links-text-active {
            margin: auto 5rem; } }
        @media only screen and (max-width: 65em) {
          .home-nav__links-text-active {
            margin: auto 1rem; } }
        .home-nav__links-text-active:hover {
          background-color: rgba(6, 21, 27, 0.7);
          color: #ddd;
          cursor: pointer; }
  .home-content {
    display: flex;
    flex-direction: column; }
    .home-content-search-sort {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .home-content-section1 {
      text-align: center; }
      @media only screen and (max-width: 44em) {
        .home-content-section1 {
          display: flex;
          flex-direction: column; } }
    .home-content--search {
      width: 30rem;
      margin: -2rem auto 5rem;
      background-color: #06151b;
      color: #ddd;
      border: 2px solid #040e13;
      padding: 1rem 1.5rem;
      border-radius: 2px;
      margin: 0 5rem 0 0; }
    .home-content--select {
      width: 20rem;
      margin: -2rem auto 5rem;
      background-color: #06151b;
      color: #ddd;
      border: 2px solid #040e13;
      padding: 1rem 1.5rem;
      border-radius: 2px; }
    .home-content--label {
      color: #ddd;
      font-size: 2rem;
      padding-right: 1rem; }

.profile-stats {
  display: flex;
  justify-content: center;
  width: 100%; }
  .profile-stats-nav__links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%; }
    .profile-stats-nav__links-text {
      padding: 1rem 1.5rem;
      margin: auto 2rem;
      color: #ddd;
      border-radius: 2px;
      font-size: 2rem;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      list-style: none;
      transition: all .2s ease-in-out; }
      .profile-stats-nav__links-text:hover {
        background-color: rgba(6, 21, 27, 0.7);
        color: #ddd;
        cursor: pointer; }
    .profile-stats-nav__links-text-active {
      padding: 1rem 1.5rem;
      margin: auto 2rem;
      border-bottom: 2px solid #2ba7fa;
      color: #ddd;
      border-radius: 2px;
      font-size: 2rem;
      text-transform: uppercase;
      list-style: none;
      transition: all .2s ease-in-out; }
      .profile-stats-nav__links-text-active:hover {
        background-color: rgba(6, 21, 27, 0.7);
        color: #ddd;
        cursor: pointer; }
  .profile-stats-chart {
    width: 600px; }

.popup {
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.9);
  z-index: 2002;
  opacity: 0;
  visibility: hidden;
  transition: all .4s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 75%;
    box-shadow: 0 1rem 3rem #111;
    color: #111;
    background-color: #ddd;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .5s; }
  .popup__left {
    width: 66.6666%;
    display: table-cell;
    background-image: url("./images/chart-screenshot.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .popup__right {
    width: 100%;
    height: 70vh;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 5rem; }
    .popup__right > * {
      padding: 1rem 0; }
    @media only screen and (max-width: 90em) {
      .popup__right {
        display: inline-block;
        padding: 5rem;
        width: 100%;
        position: relative; } }
    @media only screen and (max-width: 65em) {
      .popup__right {
        display: inline-block;
        padding: 5rem;
        width: 100%;
        position: relative; } }
    @media only screen and (max-width: 44em) {
      .popup__right {
        width: 100%; }
        .popup__right .heading-secondary {
          font-size: 2rem;
          letter-spacing: 0; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media only screen and (max-width: 65em) {
      .popup__img {
        display: inline;
        float: left; } }
  .popup__text {
    font-size: 1.6rem;
    margin-bottom: 4rem; }
    .popup__text--dots {
      display: none; }
      @media only screen and (max-width: 90em) {
        .popup__text--dots {
          display: none; } }
      @media only screen and (max-width: 65em) {
        .popup__text--dots {
          display: inline; } }
      @media only screen and (max-width: 44em) {
        .popup__text--dots {
          display: inline; } }
    .popup__text--more {
      display: inline; }
      @media only screen and (max-width: 90em) {
        .popup__text--more {
          display: inline; } }
      @media only screen and (max-width: 65em) {
        .popup__text--more {
          display: none; } }
      @media only screen and (max-width: 44em) {
        .popup__text--more {
          display: none; } }
    @media only screen and (max-width: 65em) {
      .popup__text {
        column-count: 1; } }
    @media only screen and (max-width: 44em) {
      .popup__text {
        column-count: 1; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #333;
    position: absolute;
    top: 2.5rem;
    right: 5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
    @media only screen and (max-width: 65em) {
      .popup__close:link, .popup__close:visited {
        position: absolute;
        left: 90%;
        padding: 0; } }
    @media only screen and (max-width: 44em) {
      .popup__close:link, .popup__close:visited {
        position: absolute;
        left: 85%;
        padding: 0; } }
  .popup__close:hover {
    color: red; }
  .popup__delete, .popup__delete:link, .popup__delete:visited {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    position: absolute;
    bottom: 3rem;
    right: 30rem;
    margin-left: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #eee;
    background-color: #c21;
    border-radius: 3px;
    border: none;
    transition: all .2s ease-in-out; }
  .popup__delete:hover {
    background-color: #d21;
    cursor: pointer; }
  .popup__edit {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    position: absolute;
    bottom: 3rem;
    right: 4rem;
    margin-left: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #000;
    background-color: #2ba7fa;
    border-radius: 3px;
    border: none;
    transition: all .2s ease-in-out; }
    .popup__edit:hover {
      background-color: #1985d8;
      cursor: pointer; }
  .popup__save {
    position: absolute;
    bottom: 3rem;
    right: 4rem;
    margin-left: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #000;
    background-color: #2ba7fa;
    border-radius: 3px;
    border: none;
    transition: all .2s ease-in-out; }
    .popup__save:hover {
      background-color: #1985d8;
      cursor: pointer; }
  .popup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 2rem; }
    .popup-form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem; }
      .popup-form-group label {
        text-align: center; }
    .popup-form-input {
      font-size: 1.6rem;
      background-color: #111;
      color: #eee;
      padding: 1rem 1.5rem;
      border: none;
      border-radius: 2px;
      transition: all .2s ease-in-out; }
      .popup-form-input:hover {
        background-color: #053042; }
      .popup-form-input:active, .popup-form-input:focus {
        outline: none;
        background-color: #225b74; }
    .popup-form-btn {
      background-color: #003952;
      border: none;
      border-radius: 3px;
      font-size: 3rem;
      float: left;
      color: #fff;
      padding: 1rem 1.5rem;
      margin: 5rem -1rem 0 7.5rem; }

.chatbox {
  position: fixed;
  display: block;
  width: 100%;
  height: 30vh;
  bottom: 0;
  left: 0;
  transform: translate(50%, 100%);
  z-index: 2002;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-in-out; }
  .chatbox__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 30%;
    box-shadow: 0 1rem 3rem #111;
    color: #111;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .3s ease-in-out; }
  .chatbox__top {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #222;
    color: #ddd;
    font-size: 1.6rem; }
    .chatbox__top-avatar {
      height: 50px;
      width: 50px;
      margin-left: 2rem;
      margin-right: -2rem; }
  .chatbox__middle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-anchor: none;
    background-color: #bbb;
    padding: 2rem 1rem;
    overflow-y: scroll; }
    .chatbox__middle-content {
      overflow-anchor: auto; }
    .chatbox__middle-bubble {
      position: relative;
      clear: both;
      display: block;
      height: auto;
      width: auto;
      max-width: 50%;
      word-wrap: break-word;
      word-break: keep-all;
      font-family: sans-serif;
      text-align: left;
      line-height: 1.5em;
      margin: 2px 10px;
      padding: 10px;
      cursor: default;
      border-radius: 15px;
      font-size: 1.6rem; }
      .chatbox__middle-bubble-receiver {
        float: left;
        background-color: #999; }
        .chatbox__middle-bubble-receiver::before {
          /* Left Message Bubble Tail */
          content: "";
          position: absolute;
          top: 5px;
          left: -10px;
          border-top: 15px solid #999;
          border-left: 15px solid transparent; }
      .chatbox__middle-bubble-sender {
        float: right;
        background-color: #1985d8; }
        .chatbox__middle-bubble-sender::before {
          /* Right Message Bubble Tail */
          content: "";
          position: absolute;
          bottom: 5px;
          right: -10px;
          border-bottom: 15px solid #1985d8;
          border-right: 15px solid transparent; }
  .chatbox__bottom {
    width: 100%;
    height: 10%;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .chatbox__bottom-form {
      height: 100%;
      width: auto;
      display: flex;
      align-items: center; }
      .chatbox__bottom-form-message {
        height: 100%;
        width: 80%;
        padding: 1rem 3rem;
        vertical-align: middle;
        resize: none;
        font-size: 2rem;
        border: none;
        border-radius: 0;
        background-color: #081c24;
        color: #ddd;
        outline: none; }
      .chatbox__bottom-form-submit {
        height: 100%;
        width: 20%;
        border: none;
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #1985d8; }
    @media only screen and (max-width: 90em) {
      .chatbox__bottom {
        display: inline-block;
        padding: 5rem;
        width: 100%;
        position: relative; } }
    @media only screen and (max-width: 65em) {
      .chatbox__bottom {
        display: inline-block;
        padding: 5rem;
        width: 100%;
        position: relative; } }
    @media only screen and (max-width: 44em) {
      .chatbox__bottom {
        width: 100%; }
        .chatbox__bottom .heading-secondary {
          font-size: 2rem;
          letter-spacing: 0; } }
  .chatbox__img {
    display: block;
    width: 100%; }
    @media only screen and (max-width: 65em) {
      .chatbox__img {
        display: inline;
        float: left; } }
  .chatbox__text {
    font-size: 1.6rem;
    margin-bottom: 4rem; }
    .chatbox__text--dots {
      display: none; }
      @media only screen and (max-width: 90em) {
        .chatbox__text--dots {
          display: none; } }
      @media only screen and (max-width: 65em) {
        .chatbox__text--dots {
          display: inline; } }
      @media only screen and (max-width: 44em) {
        .chatbox__text--dots {
          display: inline; } }
    .chatbox__text--more {
      display: inline; }
      @media only screen and (max-width: 90em) {
        .chatbox__text--more {
          display: inline; } }
      @media only screen and (max-width: 65em) {
        .chatbox__text--more {
          display: none; } }
      @media only screen and (max-width: 44em) {
        .chatbox__text--more {
          display: none; } }
    @media only screen and (max-width: 65em) {
      .chatbox__text {
        column-count: 1; } }
    @media only screen and (max-width: 44em) {
      .chatbox__text {
        column-count: 1; } }
  .chatbox:target {
    opacity: 1;
    visibility: visible; }
  .chatbox:target .chatbox__content {
    opacity: 1;
    transform: translate(-120%, -121%) scale(1); }
  .chatbox__close:link, .chatbox__close:visited {
    color: #777;
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
    @media only screen and (max-width: 65em) {
      .chatbox__close:link, .chatbox__close:visited {
        position: absolute;
        left: 90%;
        padding: 0; } }
    @media only screen and (max-width: 44em) {
      .chatbox__close:link, .chatbox__close:visited {
        position: absolute;
        left: 85%;
        padding: 0; } }
  .chatbox__close:hover {
    color: red; }
  .chatbox__delete, .chatbox__delete:link, .chatbox__delete:visited {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    position: absolute;
    bottom: 3rem;
    right: 30rem;
    margin-left: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #eee;
    background-color: #c21;
    border-radius: 3px;
    border: none;
    transition: all .2s ease-in-out; }
  .chatbox__delete:hover {
    background-color: #d21;
    cursor: pointer; }
  .chatbox__edit {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    position: absolute;
    bottom: 3rem;
    right: 4rem;
    margin-left: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #000;
    background-color: #2ba7fa;
    border-radius: 3px;
    border: none;
    transition: all .2s ease-in-out; }
    .chatbox__edit:hover {
      background-color: #1985d8;
      cursor: pointer; }
  .chatbox__save {
    position: absolute;
    bottom: 3rem;
    right: 4rem;
    margin-left: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #000;
    background-color: #2ba7fa;
    border-radius: 3px;
    border: none;
    transition: all .2s ease-in-out; }
    .chatbox__save:hover {
      background-color: #1985d8;
      cursor: pointer; }
  .chatbox-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 2rem; }
    .chatbox-form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem; }
      .chatbox-form-group label {
        text-align: center; }
    .chatbox-form-input {
      font-size: 1.6rem;
      background-color: #111;
      color: #eee;
      padding: 1rem 1.5rem;
      border: none;
      border-radius: 2px;
      transition: all .2s ease-in-out; }
      .chatbox-form-input:hover {
        background-color: #053042; }
      .chatbox-form-input:active, .chatbox-form-input:focus {
        outline: none;
        background-color: #225b74; }
    .chatbox-form-btn {
      background-color: #003952;
      border: none;
      border-radius: 3px;
      font-size: 3rem;
      float: left;
      color: #fff;
      padding: 1rem 1.5rem;
      margin: 5rem -1rem 0 7.5rem; }

.trade-ideas {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  margin: auto;
  justify-content: center;
  gap: 5rem 5rem; }
  .trade-ideas-card {
    background-color: rgba(153, 153, 153, 0.2);
    border: 1px solid rgba(153, 153, 153, 0.3);
    box-shadow: 0 0.75rem 2rem #0d0d0d;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 375px;
    word-wrap: break-word;
    position: relative;
    transition: all .3s ease-in-out; }
    .trade-ideas-card-link, .trade-ideas-card-link:link, .trade-ideas-card-link:visited {
      padding: 3rem 1rem;
      text-decoration: none;
      color: #ddd; }
    .trade-ideas-card:hover {
      cursor: pointer;
      transform: translateY(-0.5rem);
      box-shadow: 0 1.25rem 3rem #0d0d0d; }
      .trade-ideas-card:hover .trade-ideas-card-more {
        opacity: 1; }
      .trade-ideas-card:hover .trade-ideas-card-win, .trade-ideas-card:hover .trade-ideas-card-win-all {
        color: rgba(13, 93, 13, 0.8); }
      .trade-ideas-card:hover .trade-ideas-card-loss, .trade-ideas-card:hover .trade-ideas-card-loss-all {
        color: rgba(93, 13, 13, 0.8); }
    .trade-ideas-card-more, .trade-ideas-card-more:link, .trade-ideas-card-more:visited {
      display: block;
      opacity: 0;
      position: absolute;
      height: 101%;
      width: 101%;
      padding-top: 50%;
      margin-left: -.75px;
      text-align: center;
      font-size: 2rem;
      transition: all .2s ease-in-out;
      color: #fff;
      text-decoration: none;
      background-color: rgba(13, 13, 13, 0.85); }
    .trade-ideas-card-win-all {
      display: block;
      position: absolute;
      top: 73.5px;
      right: 20px;
      font-size: 2rem;
      font-weight: 700;
      transition: all .2s ease-in-out;
      color: #2c1; }
    .trade-ideas-card-loss-all {
      display: block;
      position: absolute;
      top: 73.5px;
      right: 20px;
      font-size: 2rem;
      font-weight: 700;
      transition: all .2s ease-in-out;
      color: #d21; }
    .trade-ideas-card-win {
      display: block;
      position: absolute;
      top: 49.5px;
      right: 20px;
      font-size: 2rem;
      font-weight: 700;
      transition: all .2s ease-in-out;
      color: #2c1; }
    .trade-ideas-card-loss {
      display: block;
      position: absolute;
      top: 49.5px;
      right: 20px;
      font-size: 2rem;
      font-weight: 700;
      transition: all .2s ease-in-out;
      color: #f20; }
    .trade-ideas-card-delete {
      display: block;
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 2rem;
      transition: all .2s ease-in-out; }
      .trade-ideas-card-delete:hover {
        cursor: pointer;
        color: #d21; }
    .trade-ideas-card__item {
      padding: 1rem;
      font-size: 2rem;
      display: flex;
      justify-content: space-between; }
      .trade-ideas-card__item-title {
        text-transform: uppercase;
        font-weight: 700; }
        .trade-ideas-card__item-title-home {
          display: flex;
          align-items: center; }
          .trade-ideas-card__item-title-home-text {
            padding-left: 2rem;
            font-weight: 700; }
      .trade-ideas-card__item__image {
        object-fit: cover;
        height: 100px;
        width: 100px;
        z-index: -20;
        border-radius: 50%;
        border: none; }
        .trade-ideas-card__item__image-default {
          background-image: url("./images/userdefault.png");
          background-size: cover;
          border-radius: 50%;
          border: none;
          height: 100px;
          width: 100px;
          z-index: -20; }
      .trade-ideas-card__item-content {
        font-size: 1.8rem; }
      .trade-ideas-card__item-date {
        padding-top: 2rem;
        font-size: 1.6rem; }
