/*
0-600px = phone
600-900px = tablet portait
900-1200px = tablet landscape
1200-1800px = normal desktop
1800px+ = big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid >  page layout > components

1rem = 10px = 62.5% font size
1em = 16px
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2ba7fa; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ddd; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ddd; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ddd; }

::selection {
  background-color: #fff;
  color: #111; }

.container {
  background-color: #3223ff30; }

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 2rem; }
  .footer--text {
    color: #eee;
    font-size: 3rem; }

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 2rem 25rem;
  align-items: center;
  width: 100%;
  background-color: #06151b;
  color: #ddd;
  font-size: 3rem;
  font-weight: 700; }
  .navigation--brand, .navigation--brand:link, .navigation--brand:visited {
    width: 5rem;
    letter-spacing: 1rem;
    font-weight: 300;
    padding: 3rem 0;
    text-transform: uppercase;
    color: #ddd;
    text-decoration: none; }
  .navigation--brand:hover {
    cursor: pointer; }
  .navigation--right {
    display: flex;
    align-items: center;
    padding-right: 3rem; }
    .navigation--right > * {
      list-style: none;
      font-size: 2rem; }
  .navigation--link, .navigation--link:link, .navigation--link:visited {
    text-decoration: none;
    padding: 1rem 2rem;
    color: #ddd;
    transition: all .2s ease-in-out; }
  .navigation--link:hover {
    color: #2ba7fa; }
  .navigation--signup, .navigation--signup:link, .navigation--signup:visited {
    margin-left: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #000;
    background-color: #2ba7fa;
    border-radius: 3px;
    transition: all .2s ease-in-out; }
  .navigation--signup:hover {
    background-color: #1985d8; }

.menu {
  display: block;
  position: relative; }
  .menu-link, .menu-link:visited, .menu-link:link {
    color: #ddd;
    text-decoration: none;
    font-weight: 400;
    padding: 4rem; }
  .menu-link:hover {
    cursor: pointer; }

.menu-title {
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  transition: 0.3s background-color; }
  .menu-title-text {
    font-size: 1.6rem;
    margin-bottom: 10rem; }
  .menu-title-arrow {
    font-size: 2rem;
    transform: translate(1rem, 0.3rem) rotate(0deg);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    display: inline-block; }

.menu:hover > .menu-title:before {
  border-top-width: 0;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color; }

.menu:hover > .menu-title:after {
  border-bottom-width: 5px;
  transition: 0.2s border-bottom-width ease; }

.menu:hover .menu-title-arrow {
  transform: translate(1rem, 0.1rem) rotate(-180deg); }

.menu:hover .menu-title {
  background-color: #15242b; }

.menu-dropdown {
  width: 200px;
  position: absolute;
  background: #15242b;
  z-index: 100;
  transition: 0.3s padding; }

.menu:not(:hover) > .menu-dropdown {
  padding: 0;
  background: #081c24;
  z-index: 99; }

.menu-dropdown > * {
  overflow: hidden;
  height: 50px;
  padding: 10px 10px 0;
  background-image: linear-gradient(#053042 0%, #053042 95%, #0c0c0c 100%);
  white-space: nowrap;
  transition: 0.5s height ease-in-out, 0.5s padding ease-in-out, 0.5s margin ease-in-out, 0.5s 0.2s color, 0.2s background-color; }

.menu-dropdown > *:hover {
  background: rgba(0, 0, 0, 0.1); }

.menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition: 0.3s height, 0.3s padding, 0.3s margin, 0.3s color, 0.3s visibility;
  z-index: 99; }

.landing-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rem;
  padding: 5rem 25rem 30rem;
  height: 100%;
  background-color: #06151b;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .landing-main--title {
    color: #ddd;
    width: 75rem;
    font-size: 5rem;
    padding-top: 10rem; }
  .landing-main--description {
    color: #ddd;
    width: 55rem;
    font-size: 2rem;
    padding-top: 5rem;
    margin-bottom: 7rem;
    line-height: 1.75; }
  .landing-main--button, .landing-main--button:link, .landing-main--button:visited {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    background-color: #2ba7fa;
    border-radius: 3px;
    padding: 1.5rem 3rem;
    transition: all .2s ease-in-out; }
  .landing-main--button:hover {
    background-color: #1985d8; }
  .landing-main--image {
    background-image: url("./images/trading-landing.jpeg");
    background-size: cover;
    background-color: #06151b;
    height: 388px;
    width: 612px;
    margin: 10rem 3rem 0 0;
    background-blend-mode: luminosity;
    box-shadow: 0 0 4px 4px #081c24 inset; }

.landing-section-1 {
  background-color: #fff;
  margin: -35rem auto 10rem;
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .landing-section-1--title {
    font-size: 4rem; }
  .landing-section-1--cards {
    display: flex;
    justify-content: center; }
    .landing-section-1--cards__1--image {
      background-image: url("./images/column-chart-icon.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 140px;
      width: 135px; }
    .landing-section-1--cards__2--image {
      background-image: url("./images/competition-icon.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 140px;
      width: 135px; }
    .landing-section-1--cards__3--image {
      background-image: url("./images/message-icon.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 140px;
      width: 135px; }
    .landing-section-1--cards__1, .landing-section-1--cards__2, .landing-section-1--cards__3 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      border-radius: 3px;
      border: 1px solid rgba(152, 170, 178, 0.25);
      background-color: rgba(152, 170, 178, 0.15);
      padding: 4rem;
      margin: 10rem;
      height: 500px;
      width: 350px; }
      .landing-section-1--cards__1--title, .landing-section-1--cards__2--title, .landing-section-1--cards__3--title {
        font-size: 2.5rem; }
      .landing-section-1--cards__1--text, .landing-section-1--cards__2--text, .landing-section-1--cards__3--text {
        font-size: 1.6rem; }
      .landing-section-1--cards__1--button, .landing-section-1--cards__1--button:link, .landing-section-1--cards__1--button:visited, .landing-section-1--cards__2--button, .landing-section-1--cards__2--button:link, .landing-section-1--cards__2--button:visited, .landing-section-1--cards__3--button, .landing-section-1--cards__3--button:link, .landing-section-1--cards__3--button:visited {
        font-size: 1.8rem;
        text-decoration: none;
        color: #1a9ba4;
        border: 1px solid #1a9ba4;
        border-radius: 3px;
        padding: 1.5rem 3rem;
        transition: all .2s ease-in-out; }
      .landing-section-1--cards__1--button:hover, .landing-section-1--cards__2--button:hover, .landing-section-1--cards__3--button:hover {
        background-color: #1a9ba4;
        color: #fff; }

.signuppage {
  overflow-y: hidden;
  height: 100vh; }

.signup {
  height: 100%;
  background-color: #06151b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25rem; }
  .signup-result-lot {
    margin: 5rem 33rem; }
  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;
    color: #eee;
    font-size: 3rem;
    width: 700px;
    margin: 0 25rem 0 0; }
    .signup-form-group {
      width: 700px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 1rem; }
      .signup-form-group label {
        float: right;
        text-align: right;
        margin-right: 15px;
        width: 400px; }
    .signup-form-input {
      font-size: 3rem;
      background-color: #042635;
      color: #ddd;
      padding: 1rem 1.5rem;
      border: none;
      border-radius: 2px;
      transition: all .2s ease-in-out; }
      .signup-form-input:hover {
        background-color: #053042; }
      .signup-form-input:active, .signup-form-input:focus {
        outline: none;
        background-color: #225b74; }
    .signup-form-btn {
      background-color: #003952;
      border: none;
      border-radius: 3px;
      font-size: 3rem;
      float: left;
      color: #fff;
      padding: 1rem 1.5rem;
      margin: 5rem -1rem 0 7.5rem; }

.separator {
  width: 5px;
  height: 50vh;
  margin: 3rem 10rem 0 0;
  border-right: 2px solid #222; }

.profile {
  min-height: 80vh;
  max-height: 100%;
  background-color: #081c24;
  border-top: 2px solid #040e13;
  color: #ddd;
  padding: 5rem 25rem; }
  .profile-nav {
    display: flex;
    justify-content: space-between; }
    .profile-nav__user {
      display: flex;
      align-items: center; }
      .profile-nav__user-avatar {
        background-image: url("./images/VET_logo.png");
        background-size: contain;
        border-radius: 50%;
        border: none;
        height: 100px;
        width: 100px;
        background-color: #ccc;
        overflow: hidden; }
        .profile-nav__user-avatar__change {
          background-color: rgba(34, 34, 34, 0.8);
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
          padding: 2rem auto;
          transform: translateY(10rem);
          transition: all .2s ease-in-out;
          z-index: -1; }
          .profile-nav__user-avatar__change-form {
            padding: 1rem 2.5rem 3rem; }
            .profile-nav__user-avatar__change-form--input {
              display: none; }
              .profile-nav__user-avatar__change-form--input:hover {
                cursor: pointer; }
            .profile-nav__user-avatar__change-form--label:hover {
              cursor: pointer; }
        .profile-nav__user-avatar:hover .profile-nav__user-avatar__change {
          transform: translateY(5rem);
          z-index: 3; }
      .profile-nav__user-username {
        padding-left: 4rem;
        font-size: 3rem; }
    .profile-nav__links {
      display: flex;
      justify-content: space-evenly;
      padding-right: 1rem; }
      .profile-nav__links-text {
        padding: 1rem 1.5rem;
        margin: auto 2rem;
        color: #ddd;
        border-radius: 2px;
        font-size: 2rem;
        text-transform: uppercase;
        list-style: none;
        transition: all .2s ease-in-out; }
        .profile-nav__links-text:hover {
          background-color: rgba(6, 21, 27, 0.7);
          color: #ddd;
          cursor: pointer; }
      .profile-nav__links-text-active {
        padding: 1rem 1.5rem;
        margin: auto 2rem;
        border-bottom: 2px solid #2ba7fa;
        color: #ddd;
        border-radius: 2px;
        font-size: 2rem;
        text-transform: uppercase;
        list-style: none;
        transition: all .2s ease-in-out; }
        .profile-nav__links-text-active:hover {
          background-color: rgba(6, 21, 27, 0.7);
          color: #ddd;
          cursor: pointer; }
  .profile-content {
    margin: 6rem auto; }

.connections-container {
  font-size: 2rem;
  height: 500px;
  width: 250px;
  padding: 1rem 1.5rem;
  overflow-y: scroll;
  background-color: #222; }
  .connections-container > * {
    padding: .75rem 0 1rem; }
    .connections-container > *:not(:last-child) {
      border-bottom: 1px solid black; }

.home {
  min-height: 80vh;
  max-height: 100%;
  background-color: #081c24;
  border-top: 2px solid #040e13;
  color: #ddd;
  padding: 5rem 25rem; }
  .home-nav {
    display: flex;
    justify-content: center;
    padding-bottom: 10rem; }
    .home-nav__links {
      display: flex;
      justify-content: space-evenly;
      padding-right: 1rem; }
      .home-nav__links-text {
        padding: 1rem 1.5rem;
        margin: auto 2rem;
        color: #ddd;
        border-radius: 2px;
        font-size: 2rem;
        text-transform: uppercase;
        list-style: none;
        transition: all .2s ease-in-out; }
        .home-nav__links-text:hover {
          background-color: rgba(6, 21, 27, 0.7);
          color: #ddd;
          cursor: pointer; }
      .home-nav__links-text-active {
        padding: 1rem 1.5rem;
        margin: auto 2rem;
        border-bottom: 2px solid #2ba7fa;
        color: #ddd;
        border-radius: 2px;
        font-size: 2rem;
        text-transform: uppercase;
        list-style: none;
        transition: all .2s ease-in-out; }
        .home-nav__links-text-active:hover {
          background-color: rgba(6, 21, 27, 0.7);
          color: #ddd;
          cursor: pointer; }

.profile-stats {
  display: flex;
  justify-content: center;
  width: 100%; }
  .profile-stats-nav__links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%; }
    .profile-stats-nav__links-text {
      padding: 1rem 1.5rem;
      margin: auto 2rem;
      color: #ddd;
      border-radius: 2px;
      font-size: 2rem;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      list-style: none;
      transition: all .2s ease-in-out; }
      .profile-stats-nav__links-text:hover {
        background-color: rgba(6, 21, 27, 0.7);
        color: #ddd;
        cursor: pointer; }
    .profile-stats-nav__links-text-active {
      padding: 1rem 1.5rem;
      margin: auto 2rem;
      border-bottom: 2px solid #2ba7fa;
      color: #ddd;
      border-radius: 2px;
      font-size: 2rem;
      text-transform: uppercase;
      list-style: none;
      transition: all .2s ease-in-out; }
      .profile-stats-nav__links-text-active:hover {
        background-color: rgba(6, 21, 27, 0.7);
        color: #ddd;
        cursor: pointer; }
  .profile-stats-chart {
    width: 600px; }

.popup {
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.9);
  z-index: 2002;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: all .4s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 75%;
    box-shadow: 0 1rem 3rem #111;
    color: #111;
    background-color: #ddd;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .5s; }
  .popup__left {
    width: 66.6666%;
    display: table-cell;
    background-image: url("./images/chart-screenshot.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .popup__right {
    width: 100%;
    height: 70vh;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 5rem; }
    .popup__right > * {
      padding: 1rem 0; }
    @media only screen and (max-width: 75em) {
      .popup__right {
        display: inline-block;
        padding: 5rem;
        width: 100%;
        position: relative; } }
    @media only screen and (max-width: 56.25em) {
      .popup__right {
        display: inline-block;
        padding: 5rem;
        width: 100%;
        position: relative; } }
    @media only screen and (max-width: 37.5em) {
      .popup__right {
        width: 100%; }
        .popup__right .heading-secondary {
          font-size: 2rem;
          letter-spacing: 0; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .popup__img {
        display: inline;
        float: left; } }
  .popup__text {
    font-size: 1.6rem;
    margin-bottom: 4rem; }
    .popup__text--dots {
      display: none; }
      @media only screen and (max-width: 75em) {
        .popup__text--dots {
          display: none; } }
      @media only screen and (max-width: 56.25em) {
        .popup__text--dots {
          display: inline; } }
      @media only screen and (max-width: 37.5em) {
        .popup__text--dots {
          display: inline; } }
    .popup__text--more {
      display: inline; }
      @media only screen and (max-width: 75em) {
        .popup__text--more {
          display: inline; } }
      @media only screen and (max-width: 56.25em) {
        .popup__text--more {
          display: none; } }
      @media only screen and (max-width: 37.5em) {
        .popup__text--more {
          display: none; } }
    @media only screen and (max-width: 56.25em) {
      .popup__text {
        column-count: 1; } }
    @media only screen and (max-width: 37.5em) {
      .popup__text {
        column-count: 1; } }
  .popup__text-button {
    display: flex;
    flex-direction: column; }
  .popup__readbtn {
    display: none;
    background-color: #444;
    color: #333;
    border: 0;
    padding: .5rem 1rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__readbtn {
        display: inline;
        width: 30%;
        margin-bottom: 5rem;
        cursor: pointer;
        transition: all .1s; }
        .popup__readbtn:hover {
          transform: translateY(-0.3rem);
          box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.2); }
        .popup__readbtn:active, .popup__readbtn:focus {
          outline: none;
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.2); } }
    @media only screen and (max-width: 37.5em) {
      .popup__readbtn {
        display: inline;
        width: 60%;
        margin-bottom: 5rem;
        cursor: pointer;
        transition: all .1s; }
        .popup__readbtn:hover {
          transform: translateY(-0.3rem);
          box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.2); }
        .popup__readbtn:active, .popup__readbtn:focus {
          outline: none;
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.2); } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #333;
    position: absolute;
    top: 2.5rem;
    right: 5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
    @media only screen and (max-width: 56.25em) {
      .popup__close:link, .popup__close:visited {
        position: absolute;
        left: 90%;
        padding: 0; } }
    @media only screen and (max-width: 37.5em) {
      .popup__close:link, .popup__close:visited {
        position: absolute;
        left: 85%;
        padding: 0; } }
  .popup__close:hover {
    color: red; }

.trade-ideas {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  margin: auto;
  justify-content: center;
  gap: 5rem 5rem; }
  .trade-ideas-card {
    background-color: rgba(153, 153, 153, 0.2);
    border: 1px solid rgba(153, 153, 153, 0.3);
    box-shadow: 0 0.75rem 2rem #0d0d0d;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    position: relative;
    transition: all .3s ease-in-out; }
    .trade-ideas-card-link, .trade-ideas-card-link:link, .trade-ideas-card-link:visited {
      padding: 3rem 1rem;
      text-decoration: none;
      color: #ddd; }
    .trade-ideas-card:hover {
      cursor: pointer;
      transform: translateY(-0.5rem);
      box-shadow: 0 1.25rem 3rem #0d0d0d; }
    .trade-ideas-card-delete {
      display: block;
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 2rem;
      transition: all .2s ease-in-out; }
      .trade-ideas-card-delete:hover {
        cursor: pointer;
        color: red; }
    .trade-ideas-card__item {
      padding: 1rem;
      font-size: 2rem;
      display: flex;
      justify-content: space-between; }
      .trade-ideas-card__item-title {
        text-transform: uppercase;
        font-weight: 700; }
      .trade-ideas-card__item-content {
        font-size: 1.8rem; }
      .trade-ideas-card__item-date {
        padding-top: 2rem;
        font-size: 1.6rem; }
