.home {
    min-height: 80vh;
    max-height: 100%;
    background-color: $color-blue-dark-3;
    border-top: 2px solid $color-blue-dark-2;
    color: #ddd;
    padding: 90px 5% 5rem;

    @include respond(tab-port) {
        padding: 5rem 0;
    }

    &-card {
        &,
        &:link,
        &:visited {
            text-decoration: none;
            color: #ddd;
        }
    }

    &-nav {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 7rem;

        &__links {
            display: flex;
            justify-content: space-evenly;

            &-text {
                padding: 1rem 1.5rem;
                margin: auto 8rem;
                text-align: center;
                color: #ddd;
                border-radius: 2px;
                font-size: 2rem;
                text-transform: uppercase;
                list-style: none;
                transition: all 0.2s ease-in-out;

                @include respond(tab-land) {
                    margin: auto 5rem;
                }
                @include respond(tab-port) {
                    margin: auto 1rem;
                }

                &:hover {
                    background-color: rgba($color-blue-dark-1, 0.7);
                    color: #ddd;
                    cursor: pointer;
                }
            }
            &-text-active {
                padding: 1rem 1.5rem;
                margin: auto 8rem;
                border-bottom: 2px solid $color-blue-bright-1;
                text-align: center;
                color: #ddd;
                border-radius: 2px;
                font-size: 2rem;
                text-transform: uppercase;
                list-style: none;
                transition: all 0.2s ease-in-out;

                @include respond(tab-land) {
                    margin: auto 5rem;
                }
                @include respond(tab-port) {
                    margin: auto 1rem;
                }

                &:hover {
                    background-color: rgba($color-blue-dark-1, 0.7);
                    color: #ddd;
                    cursor: pointer;
                }
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;

        &-search-sort {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        &-section1 {
            // align-self: center;
            text-align: center;

            @include respond(phone) {
                display: flex;
                flex-direction: column;
            }
        }

        &--search {
            width: 30rem;
            margin: -2rem auto 5rem;
            background-color: $color-blue-dark-1;
            color: #ddd;
            border: 2px solid $color-blue-dark-2;
            padding: 1rem 1.5rem;
            border-radius: 2px;
            margin: 0 5rem 0 0;
        }

        &--select {
            width: 20rem;
            margin: -2rem auto 5rem;
            background-color: $color-blue-dark-1;
            color: #ddd;
            border: 2px solid $color-blue-dark-2;
            padding: 1rem 1.5rem;
            border-radius: 2px;
        }

        &--label {
            color: #ddd;
            font-size: 2rem;
            padding-right: 1rem;
        }
    }
}
