.home {
    min-height: 80vh;
    max-height: 100%;
    background-color: $color-blue-dark-3;
    border-top: 2px solid $color-blue-dark-2;
    color: #ddd;
    padding: 5rem 10%;
    
    &-card {
        &,
        &:link,
        &:visited {
            text-decoration: none;
            color: #ddd;
        }
    }

    &-nav {

        display: flex;
        justify-content: space-evenly;
        padding-bottom: 7rem;

        &__links {
            
            display: flex;
            justify-content: space-evenly;
            padding-right: 1rem;


            &-text {

                padding: 1rem 1.5rem;
                margin: auto 10rem;
                
                color: #ddd;
                border-radius: 2px;
                font-size: 2rem;
                text-transform: uppercase;
                list-style: none;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: rgba($color-blue-dark-1, 0.7);
                    color: #ddd;
                    cursor: pointer;

                }
            }
            &-text-active {
                padding: 1rem 1.5rem;
                margin: auto 10rem;
                border-bottom: 2px solid $color-blue-bright-1;
                color: #ddd;
                border-radius: 2px;
                font-size: 2rem;
                text-transform: uppercase;
                list-style: none;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: rgba($color-blue-dark-1, 0.7);
                    color: #ddd;
                    cursor: pointer;

                }
            }
        }
    }

    &-content {

        display: flex;
        flex-direction: column;

        &-section1 {
            // align-self: center;
            text-align: center;
        }

        &--search {
            width: 30rem;
            margin: -2rem auto 5rem;
            background-color: $color-blue-dark-1;
            color: #ddd;
            border: 2px solid $color-blue-dark-2;
            padding: 1rem 1.5rem;
            border-radius: 2px;
            margin: 0 5rem 0 0;
        }

        &--select {
            width: 20rem;
            margin: -2rem auto 5rem;
            background-color: $color-blue-dark-1;
            color: #ddd;
            border: 2px solid $color-blue-dark-2;
            padding: 1rem 1.5rem;
            border-radius: 2px;
        }

        &--label {
            color: #ddd;
            font-size: 2rem;
            padding-right: 1rem;
        }

    }
}