.landing {

    overflow-x: hidden;

    &-main {

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20rem;
        padding: 5rem 10% 30rem;
        height: 100%;
        background-color: $color-blue-dark-3;
        border-top: 2px solid $color-blue-dark-2;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--text{
            
        }

        &--title {
            color: #ddd;
            width: 75rem;
            font-size: 5rem;
            padding-top: 10rem;
            line-height: 1.5;
            letter-spacing: 2px;
        }

        &--description {
            color: #ddd;
            width: 55rem;
            font-size: 2.6rem;
            padding-top: 5rem;
            margin-bottom: 7rem;
            line-height: 1.75;
        }

        &--button {
            &,
            &:link,
            &:visited {
                font-size: 2.6rem;
                font-weight: 700;
                text-decoration: none;
                color: #000;
                background-color: $color-blue-bright-1;
                border-radius: 3px;
                padding: 1.5rem 3rem;
                transition: all .2s ease-in-out;
                animation: pulse 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            }

            &:hover {
                background-color: $color-blue-bright-2;
            }
        }

        &--image {

            background-image: url("./images/laptop-bg-landing.png");
            background-size: cover;
            background-position: center;
            
            height: 488px;
            width: 612px;
            margin: 10rem 3rem 0 0;

            animation: float 3s cubic-bezier(0.645, 0.045, 0.355, 1) 1s infinite;

        }
    }

    &-section-1 {

        background-image: linear-gradient(rgba(#ddddfd,.8),rgba(#ddddfd,.8)), url("./images/chartbglanding.png");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        
        margin: -35rem auto -30rem;
        padding: 20rem 10% 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &--title {
            font-size: 4rem;
            color: #222;
        }

        &--cards {

            display: grid;
            width: 100%;
            margin: 2rem auto;
            
            justify-content: center;
            grid-template-columns: repeat(auto-fit, minmax(300px, 400px));

            &__1--image {
                background-image: url("./images/column-chart-icon.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 140px;
                width: 135px;
            }

            &__2--image {
                background-image: url("./images/competition-icon.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 140px;
                width: 135px;
            }

            &__3--image {
                background-image: url("./images/message-icon.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 140px;
                width: 135px;
            }
            &__4--image {
                background-image: url("./images/share-icon.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 140px;
                width: 135px;
            }
            &__5--image {
                background-image: url("./images/tools-icon.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 140px;
                width: 135px;
            }
            &__6--image {
                background-image: url("./images/notification-icon.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 140px;
                width: 135px;
            }

            &__1,
            &__2,
            &__3,
            &__4,
            &__5,
            &__6 {

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: start;
                border-radius: 3px;
                border: 1px solid rgba(170, 170, 170, 0.95);
                background-color: rgba(170, 170, 170, 0.85);
                padding: 4rem;
                margin: 2rem;
                height: 500px;
                width: 350px;

                &--title {
                    font-size: 2.5rem;
                    color:#111;
                }

                &--text {
                    font-size: 1.6rem;
                    color:#111;
                }

                &--button {
                    &,
                    &:link,
                    &:visited {
                        font-size: 1.8rem;
                        text-decoration: none;
                        color: $color-aqua;
                        border: 1px solid $color-aqua;
                        border-radius: 3px;
                        padding: 1.5rem 3rem;
                        transition: all .2s ease-in-out;
                    }
        
                    &:hover {
                        background-color: $color-aqua;
                        color: #fff;
                    }
                }
            }
        }
    }

    &-about {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-bottom: 20rem;
        padding: 20rem 10% 20rem;
        height: 100%;
        background-color: $color-blue-dark-2;
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

        &--text{
            
        }

        &--title {
            color: #ddd;
            width: 75rem;
            font-size: 5rem;
            padding-top: 5rem;
        }

        &--description {
            color: #ddd;
            width: 55rem;
            font-size: 2rem;
            padding-top: 5rem;
            margin-bottom: 7rem;
            line-height: 1.75;
        }

        &--button {
            &,
            &:link,
            &:visited {
                font-size: 2rem;
                font-weight: 700;
                text-decoration: none;
                color: #000;
                background-color: $color-blue-bright-1;
                border-radius: 3px;
                padding: 1.5rem 3rem;
                transition: all .2s ease-in-out;
                
                animation: pulse 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;

                // animation: pulse 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            }

            &:hover {
                background-color: $color-blue-bright-2;
            }
        }

        &--image {
            background-image: url("./images/newnewheadshot.jpg");
            background-size: cover;
            background-position: center;
            
            width: 388px;
            height: 512px;
            margin: 10rem 5rem 0 0;

            
        }
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 .5rem $color-blue-bright-1;
	}
	50% {
		box-shadow: 0 0 1.5rem $color-blue-bright-1;
	}
	100% {
		box-shadow: 0 0 .5rem $color-blue-bright-1;
	}
}
