.profile {

    min-height: 80vh;
    max-height: 100%;
    background-color: $color-blue-dark-3;
    border-top: 2px solid $color-blue-dark-2;
    color: #ddd;
    padding: 5rem 10%;

    &-nav {

        display: flex;
        justify-content: space-between;

        &__user {
            
            display: flex;
            align-items: center;
            
            &-avatar {

                border-radius: 50%;
                border: none;
                height: 100px;
                width: 100px;
                background-color: #ccc;
                overflow: hidden;


                &:hover > &__change {
                    transform: translateY(-6rem);
                    z-index: 3;
                }

                &__image {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    z-index: -20;

                    &-default {
                        background-image: url("./images/userdefault.png");
                        background-size: cover;
                        
                        height: 100%;
                        width: 100%;
                        z-index: -20;
                    }
                }
                

                &__change {
                    background-color: rgba(34,34,34,0.8);
                    color: #fff;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 2rem auto;
                    transform: translateY(10rem);
                    transition: all .2s ease-in-out;
                    z-index: 100;
                    
                    &-form {
                        padding: 1rem 2.5rem 3rem;
                        &--input {
                            display: none;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        &--label {
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                
            
            }

            &-username {
                padding: 0 4rem;
                font-size: 3rem;
            }
        }

        &__links {
            
            display: flex;
            justify-content: space-evenly;
            padding-right: 1rem;


            &-text {

                padding: 1rem 1.5rem;
                margin: auto 2rem;
                
                color: #ddd;
                border-radius: 2px;
                font-size: 2rem;
                text-transform: uppercase;
                list-style: none;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: rgba($color-blue-dark-1, 0.7);
                    color: #ddd;
                    cursor: pointer;

                }

                &-profile {

                    padding: 1rem 1.5rem;
                    margin: 1rem 2rem;
                    background-color: rgba($color-blue-dark-1, 0.7);
                    color: #ddd;
                    border-radius: 2px;
                    font-size: 2rem;
                    text-transform: uppercase;
                    list-style: none;
                    transition: all .2s ease-in-out;
    
                    &:hover {

                        background-color: rgba($color-blue-dark-2, 1);
                        color: #ddd;
                        cursor: pointer;
    
                    }    
                }
            }
            &-text-active {
                padding: 1rem 1.5rem;
                margin: auto 2rem;
                border-bottom: 2px solid $color-blue-bright-1;
                color: #ddd;
                border-radius: 2px;
                font-size: 2rem;
                text-transform: uppercase;
                list-style: none;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: rgba($color-blue-dark-1, 0.7);
                    color: #ddd;
                    cursor: pointer;

                }
            }
        }
    }

    &-content {
        margin: 6rem auto;
    }
}