.profile {

    min-height: 80vh;
    max-height: 100%;
    background-color: $color-blue-dark-3;
    border-top: 2px solid $color-blue-dark-2;
    color: #ddd;
    padding: 5rem 25rem;

    &-nav {

        display: flex;
        justify-content: space-between;

        &__user {
            
            display: flex;
            align-items: center;
            &-avatar {
                background-image: url("./images/VET_logo.png");
                background-size: contain;
                border-radius: 50%;
                height: 100px;
                width: 100px;
                background-color: #ccc;
            
            }

            &-username {
                padding-left: 4rem;
                font-size: 3rem;
            }
        }

        &__links {
            
            display: flex;
            justify-content: space-evenly;
            padding-right: 1rem;

            &-text {

                padding: 1rem 1.5rem;
                margin: auto 2rem;
                background-color: #ccc;
                color: #222;
                border-radius: 2px;
                font-size: 2rem;
                text-transform: uppercase;
                list-style: none;

                &:hover {

                    cursor: pointer;

                }
            }
        }
    }

    &-content {
        margin: 6rem auto;
    }
}