.signuppage {
    overflow-y: hidden;
    height: 100vh;
}

.signup {
    overflow-y: hidden;
    height: 100%;
    background-color: $color-blue-dark-3;
    border-top: 2px solid $color-blue-dark-2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25rem;
    padding-top: 10rem;

    &-lotcalc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: #eee;
            font-size: 3rem;
            width: 1000px;
            @include respond(smallphone) {
                width: 300px !important;
            }

            &-group {
                & label {
                    float: right;
                    text-align: right;
                    margin-right: 15px;
                    width: 400px;

                    @include respond(smallphone) {
                        width: 100px;
                    }
                }

                width: 800px;
                display: flex;

                justify-content: space-between;
                align-items: center;
                margin: 2rem 1rem;
                @include respond(smallphone) {
                    width: 300px;
                }
            }

            &-btn {
                background-color: $color-blue-3;
                border: none;
                border-radius: 3px;
                font-size: 3rem;
                float: left;
                color: #fff;
                padding: 1rem 1.5rem;
                width: 50%;
                margin: 5rem -1rem 0 10rem;
                @include respond(smallphone) {
                    padding: 1rem 1.5rem;
                    width: 70%;
                    margin: 5rem auto 0;
                }
            }
        }
    }

    &-result-lot {
        margin: 5rem 33rem;
    }

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: initial;
        color: #eee;
        font-size: 3rem;
        margin: 0 0 0;

        @include respond(smallphone) {
            width: 300px !important;
        }

        &-group {
            width: 500px;
            display: flex;
            flex-direction: column;
            margin: 2rem 0;
            @include respond(smallphone) {
                width: 200px;
            }

            & label {
                margin-bottom: 0.5rem;
            }
        }

        &-input {
            font-size: 3rem;
            background-color: $color-blue-1;
            color: #ddd;
            padding: 1rem 1.5rem;
            width: 100%;
            border: none;
            border-radius: 2px;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: $color-blue-2;
            }

            &:active,
            &:focus {
                outline: none;
                background-color: $color-blue-4;
            }
        }

        &-btn {
            background-color: $color-blue-3;
            border: none;
            border-radius: 3px;
            font-size: 3rem;
            float: left;
            color: #fff;
            padding: 1rem 1.5rem;
            margin: 5rem 0 0;
            cursor: pointer;

            &:hover {
                background-color: $color-blue-4;
            }

            @include respond(smallphone) {
                padding: 1rem 1.5rem;
                margin: 5rem auto 0;
            }
        }
    }
}

.separator {
    width: 5px;
    height: 50vh;
    margin: 3rem 10rem 0 0;
    border-right: 2px solid #222;
}
