.signuppage {
    overflow-y: hidden;
    height: 100vh;
}

.signup {

    height: 100%;
    background-color: $color-blue-dark-1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25rem;

    &-form {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: initial;
        color: #eee;
        font-size: 3rem;
        width: 700px;
        margin: 0 25rem 0 0;
        
        
        &-group {

            & label {
                float: right;
                text-align: right;
                margin-right: 15px;
                width: 400px;
            }
            
            width: 700px;
            display: flex;
            
            justify-content: space-between;
            align-items: center;
            margin: 2rem 1rem;

        }

        &-input {
            font-size: 3rem;
            background-color: $color-blue-1;
            padding: 1rem 1.5rem;
            border: none;
            border-radius: 2px;
            transition: all .2s ease-in-out;

            &:hover {
                background-color: $color-blue-2;
            }

            &:active,
            &:focus {
                outline: none;
                background-color: $color-blue-4;
            }
        }

        &-btn {
            background-color: $color-blue-3;
            border: none;
            border-radius: 3px;
            font-size: 3rem;
            float: left;
            color: #fff;
            padding: 1rem 1.5rem;
            margin: 5rem -1rem 0 7.5rem;
        }
    }
}

.separator {
    width: 5px;
    height: 50vh;
    margin: 3rem 10rem 0 0;
    border-right: 2px solid #222;
}