.trade {
    &-ideas {
        display: grid;
        grid-template-columns: repeat(auto-fit, 35rem);
        margin: auto;
        width: auto;
        gap: 5rem 5rem;

        &-card {
            &-link {
                &,
                &:link,
                &:visited {
                    padding: 3rem 1rem;
                    text-decoration: none;
                    color: #111;
                }
            }

            border: 1px solid rgba(153, 153, 153, 0.3);

            border-radius: 2px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: fit-content;

            // align-items: start;

            word-wrap: break-word;
            position: relative;
            transform: translateY(0rem);
            transition: all 0.3s ease-in-out !important;

            @include respond(tab-port) {
                height: 270px;
            }

            &:hover {
                cursor: pointer;
                transform: translateY(-0.5rem);
                // box-shadow: 0 1.25rem 3rem rgba(13, 13, 13, 1);

                & .trade-ideas-card-more {
                    // display: block;
                    opacity: 1;
                }

                & .trade-ideas-card-win {
                    &,
                    &-all {
                        color: rgba(13, 93, 13, 0.8);
                    }
                }
                & .trade-ideas-card-loss {
                    &,
                    &-all {
                        color: rgba(93, 13, 13, 0.8);
                    }
                }
            }

            &-more {
                &,
                &:link,
                &:visited {
                    display: block;
                    opacity: 0;
                    position: absolute;
                    height: 101%;
                    width: 101%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: -1px;
                    margin-left: -0.75px;
                    text-align: center;
                    font-size: 2rem;
                    transition: all 0.2s ease-in-out;
                    color: #fff;
                    text-decoration: none;
                    background-color: rgba(13, 13, 13, 0.75);
                }
            }

            &-win-all {
                display: block;
                position: absolute;
                top: 40px;
                right: 20px;
                font-size: 2rem;
                font-weight: 700;
                transition: all 0.2s ease-in-out;
                color: #2c1;
            }

            &-loss-all {
                display: block;
                position: absolute;
                top: 40px;
                right: 20px;
                font-size: 2rem;
                font-weight: 700;
                transition: all 0.2s ease-in-out;
                color: #d21;
            }

            &-win-popup {
                display: block;

                font-size: 2rem;
                font-weight: 700;
                transition: all 0.2s ease-in-out;
                color: #2c1;
            }

            &-loss-popup {
                display: block;

                font-size: 2rem;
                font-weight: 700;
                transition: all 0.2s ease-in-out;
                color: #d21;
            }

            &-win {
                display: block;
                position: absolute;
                top: 49.5px;
                right: 20px;
                font-size: 2rem;
                font-weight: 700;
                transition: all 0.2s ease-in-out;
                color: #2c1;
            }

            &-loss {
                display: block;
                position: absolute;
                top: 49.5px;
                right: 20px;
                font-size: 2rem;
                font-weight: 700;
                transition: all 0.2s ease-in-out;
                color: #f20;
            }

            &-delete {
                display: block;
                position: absolute;
                top: 10px;
                right: 15px;
                font-size: 2rem;
                transition: all 0.2s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: #d21;
                }
            }

            &__item {
                padding: 1rem;
                font-size: 2rem;
                display: flex;
                justify-content: space-between;

                &-title {
                    text-transform: uppercase;
                    font-weight: 700;

                    &-home {
                        display: flex;
                        align-items: center;

                        &-text {
                            padding-left: 2rem;
                            font-weight: 700;
                            word-break: break-all;
                        }
                    }
                }

                &__image {
                    object-fit: cover;
                    height: 100px;
                    width: 100px;
                    z-index: -20;
                    border-radius: 50%;
                    border: none;

                    @include respond(smallphone) {
                        height: 50px;
                        width: 50px;
                    }

                    &-default {
                        background-image: url("./images/userdefault.png");
                        background-size: cover;
                        border-radius: 50%;
                        border: none;
                        height: 100px;
                        width: 100px;
                        z-index: -20;

                        @include respond(smallphone) {
                            height: 50px;
                            width: 50px;
                        }
                    }
                }

                &-content {
                    font-size: 1.8rem;
                }

                &-date {
                    padding: 2rem 1rem;
                    font-size: 1.6rem;
                    &-title {
                    }

                    &-content {
                    }
                }
            }
        }
    }
}
